/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size--border-radius: 4px;
  --size--avatar: 220px;

  /* Annimation */
  --animation--duration: 300ms;
}

/* Universal tag */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: 0 none;
  margin: 0;
  padding: 0;
  overflow: visible;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

/* Navbar */

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-dark-grey);
  font-weight: var(--weight-bold);
  padding: 10px 20px;
}

.navbar__menu {
  display: flex;
  font-size: var(--font-regular);
}

.navbar__menu li {
  margin-right: 100px;
}

.navbar__util {
  display: flex;
}

.navbar__util button {
  width: 30px;
  height: 35px;
  margin-left: 10px;
  background-position: center center;
  background-repeat: no-repeat;
}

.util__login {
  background-image: url("images/icon_login.png");
}

.util__register {
  background-image: url("images/icon_register.png");
}
