/* Navbar */

#navbar {
  background-color: transparent;
  transition: all var(--animation--duration) ease-in;
  position: fixed;
}

#navbar:hover {
  background-color: var(--color-dark-grey);
}

/* Home */

.home__video {
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  min-width: 100%;
  min-height: auto;
  width: 100%;
  height: auto;
  z-index: -1;
}

/* Introduce */

.introduce__description {
  margin-bottom: 60px;
  color: var(--color-dark-grey);
}

.introduce__icons {
  display: flex;
  justify-content: space-around;
}

.introduce__icons img {
  border-left: 1px solid var(--color-dark-white);
}

.introduce__icons p {
  color: var(--color-dark-grey);
  font-weight: var(--weight-semi-bold);
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  /* Introduce */
  .introduce__icons {
    flex-direction: column;
  }

  .introduce__icons li {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 1070px) {
  /* Navbar */
  #navbar.active {
    background-color: var(--color-dark-grey);
  }
}
